<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
        <authorization>
            <!-- Deny all users access to the root of the website, since it
                contains this web.config -->
            <remove users="*" roles="" verbs="" />
            <add accessType="Deny" users="*" />
        </authorization>
        </security>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error-site/" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/error-site/" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\www\aeternix-forum" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="studybud.settings" />
  </appSettings>
  <location path="Public" allowOverride="false">
    <system.webServer>
      <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
      <defaultDocument>
        <files>
          <!-- When requesting a file listing, don't serve up the default 
               index.html file if it exists. -->
          <clear />
        </files>
      </defaultDocument>
 
      <security>
        <authorization>
          <!-- Allow all users access to the Public folder -->
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" users="*" roles="" />
        </authorization>
 
        <!-- Unblock all sourcecode related extensions (.cs, .aspx, .mdf)
             and files/folders (web.config, \bin) -->
        <requestFiltering>
          <hiddenSegments>
            <clear />
          </hiddenSegments>
          <fileExtensions>
            <clear />
          </fileExtensions>
        </requestFiltering>
      </security>
 
      <!-- Remove all ASP.NET file extension associations.
           Only include this if you have the ASP.NET feature installed, 
           otherwise this produces an Invalid configuration error. -->
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
      </handlers>
 
      <!-- Map all extensions to the same MIME type, so all files can be
           downloaded. -->
      <staticContent>
        <clear />
        <mimeMap fileExtension="*" mimeType="application/octet-stream" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>