<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link rel="icon" href="{% static 'images/icons/logo.png' %}" />
    <title>SPŠE Forum</title>
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}


    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
</body>
<script type="module">
    import devtools from "{% static 'js/node_modules/devtools-detect/index.js' %}";
  
    // Get notified when it's opened/closed or orientation changes
    window.addEventListener('devtoolschange', event => {
      if (event.detail.isOpen) 
      window.location.href = "{% url 'fallback' %}";
  });
  </script>
</html>