<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link rel="icon" href="{% static 'images/icons/logo.png' %}" />
    <title>SPŠE Forum</title>
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{message.level}}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
</body>
<!-- <script type="module">
    import devtools from "{% static 'js/node_modules/devtools-detect/index.js' %}";
  
    // Get notified when it's opened/closed or orientation changes
    window.addEventListener('devtoolschange', event => {
      if (event.detail.isOpen) 
      window.location.href = "{% url 'fallback' %}";
  });
  </script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    const message = $("ul.messages");

    // if (window.location.href === "http://www.forum.spse-po.sk/") {
    if (window.location.href === "http://localhost:8000/") {
        $("body").css("overflow-y", "hidden");
    }

    if (message) {
        setTimeout(() => {
            message.css('display', 'none');
        }, 3000);
    }
</script>
<script>
    const roomList = document.querySelector("div.roomList");
    const personalSiteButton = document.querySelector("a.btn--personal-site");
    const scrollButton = document.querySelector("button.btn--mobile-scroll");

    function scrollFunc() {
        if (scrollButton) {
            if (roomList.scrollTop > 100) {
                scrollButton.style.display = "block";
            } else {
                scrollButton.style.display = "none";
            }
        }
    }

    function scrollToTop() {
        roomList.scrollTop = 0;
    }

    roomList.addEventListener('scroll', () => {
        scrollFunc();
    });
</script>

</html>