td.original p {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 8px;
}

option {
    text-align: center;
    letter-spacing: 1.25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#from-class_select {
    border-radius: 8px;
    margin-top: 2%;
}

#changelist-filter > ul > li:nth-child(2) {
    width: 80%;
    margin: 0 auto 0 0;
}

a#from-class_submit {
    margin: 0 auto 0 2%;
    width: 70%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 650;
    letter-spacing: 1.25px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #474f4890 #e1ebee1a;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #92999A60;
}

*::-webkit-scrollbar-track:hover {
    background-color: #92999A60;
}

*::-webkit-scrollbar-track:active {
    background-color: #92999A60;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #212D4A80;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #212D4A80;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #212D4A80;
}