{% extends 'main.html' %}
{% block content %}

<style>
    .leaderboard-animate {
        margin-left: 15%; 
        background-color: #115765; 
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
        border-radius: 5px; 
        margin-bottom: 3%; 
        display: flex; 
        justify-content: space-evenly; 
        width: 70%;
        animation: leaderboard-animate 1s ease-out forwards;
        position: relative;
        z-index: -1;
    }
    @keyframes leaderboard-animate {
        0% {
            opacity: 0;
            transform: translateX(-120vw);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>


<main class="container">
    <main style="margin-top: 5%;">
            <div>
                {% if users|length != 0 %}
                    {% for name, endings in ending_users %}
                    <div class="leaderboard-animate">
                        <h3 style="font-size: 3rem;">{{name}}</h3>
                        <h3 style="font-size: 3rem;">{{endings}} endings</h3>
                    </div>
                    {% endfor %}
                {% else %}
                    <h1 style="font-size: 5rem; margin-left: 33%; background: -webkit-linear-gradient(#78c7d4, #2c484d, #091313); -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;">Wow such empty...</h1>
                {% endif %}
            </div>
        <div class="container adventure-topics">
        {% include 'base/topics_component.html' %}
        </div>
    </main>
    
</main>

{% endblock content %}