{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="error-main">
    <h1 class="error">4<span><img src="{% static 'images/icons/ghost.png' %}" alt="ghost"></span>4</h1>
    <h2 class="error">Error: 404 stránka nebola nájdená</h2>
    {% if message is None %}
    <p class="error">Je mi ľúto, stránka, ktorú hľadáš, nie je prístupná</p>
    {% else %}
    <p class="error">{{ message }}</p>
    {% endif %}
</main>

<!-- No Devtools for you -->
<script type="module">
    import devtools from "{% static 'js/node_modules/devtools-detect/index.js' %}";

    // Get notified when it's opened/closed or orientation changes
    window.addEventListener('devtoolschange', event => {
        if (!event.detail.isOpen)
            window.location.href = "{{request.META.HTTP_REFERER}}";
    });

    setTimeout(function () { debugger; }, 80);
</script>

{% endblock %}