{% extends 'main.html' %}
{% block content %}

<main class="container">
    <main style="margin-top: 5%;">
        <div>
            <h1 style="font-size: 13rem; margin-left: 33%; background: -webkit-linear-gradient(#78c7d4, #2c484d, #091313); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">v.&nbsp;&nbsp; {{ version }}</h1>
        </div>
        <div class="btn--move">
            <a href="{% url 'downloadgame' %}" class="btn-center">
                <button class="btn btn-padding from-center">
                        Download the game
                </button>
            </a>
        </div>
        <section class="changelog ct8-position-relative ct8-z-index-1">
            <h1 class="ct8-sr-only">Updates</h1>
            
            <article class="game-version">
              <div class="ct8-grid ct8-gap-md ct8-items-start">
                <!-- metadata -->
                <div class="changelog__metadata ct8-col-4@md">
                  <h2 class="ct8-text-xl ct8-text-md@md">v1.20</h2>
                  <time class="text-sm ct8-color-contrast-medium" datetime="2021-01-07">May 27, 2022</time>
                </div>
            
                <!-- content -->
                <div class="ct8-col-8@md">
                  <div class="ct8-grid ct8-gap-y-lg">
                    <!-- new features -->
                    <div>
                      <h3 class="ct8-text-md ct8-margin-bottom-sm">New features</h3>
          
                      <ul class="list list--icons">
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Added database connection so you can have your proggress saved on a cloud server.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>New verification codes that are randomly generated for a player and are stored locally in game directory so you can find it if you forget.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>You don't have to manually check for game updates now, if there's a newer version of the game, you'll know.</div>
                          </div>
                        </li>
                      </ul>
                    </div>
          
                    <!-- fixes -->
                    <div>
                      <h3 class="ct8-text-md ct8-margin-bottom-sm">Fixes</h3>
          
                      <ul class="list list--icons">
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-primary" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>
                            
                            <div>Version control.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-primary" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>
                            
                            <div>Profile connections to the forum.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-primary" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>
                            
                            <div>Leaderboard shows people according to the amount of endings they've discovered.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-primary" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M9.5,17a1,1,0,0,1-.707-.293l-3-3a1,1,0,0,1,1.414-1.414L9.5,14.586l7.293-7.293a1,1,0,1,1,1.414,1.414l-8,8A1,1,0,0,1,9.5,17Z"/></svg>
                            
                            <div>Game closing instantly after opening.</div>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <!-- deprecated features -->
                    <div>
                        <h3 class="ct8-text-md ct8-margin-bottom-sm">Deprecated features</h3>
                    
                        <ul class="list list--icons">
                          <li>
                            <div class="ct8-flex ct8-items-start">
                              <svg class="list__icon ct8-icon ct8-color-error" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M12,15a1,1,0,0,1-1-1V6a1,1,0,0,1,2,0v8A1,1,0,0,1,12,15Z"/><circle cx="12" cy="18" r="1"/></svg>
                              
                              <div>Local database.</div>
                            </div>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          
            <div class="changelog__separator" role="presentation"></div>
          
            <article class="game-version">
              <div class="ct8-grid ct8-gap-md ct8-items-start">
                <!-- metadata -->
                <div class="changelog__metadata ct8-col-4@md">
                  <h2 class="ct8-text-xl ct8-text-md@md">v1.1</h2>
                  <time class="text-sm ct8-color-contrast-medium" datetime="2020-12-01">April 11, 2022</time>
                </div>
            
                <!-- content -->
                <div class="ct8-col-8@md">
                  <div class="ct8-grid ct8-gap-y-lg">
                    <!-- new features -->
                    <div>
                      <h3 class="ct8-text-md ct8-margin-bottom-sm">New features</h3>
          
                      <ul class="list list--icons">
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Added map (school) floors for gameplay.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Main quests.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Side quests.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Easter eggs with plotline.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Player to Teacher interactions (PTI).</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Textures for quests and images, music, SFX.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Grades for completing quests.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Populated (polluted) school grounds.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Edupage for knowing your progress in the game (total grades).</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Leaderboard and Settings.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Bufet Amper for shopping goods to help you throughout your journey.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-success" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z"/></svg>
                            
                            <div>Someone who doesn't want you to get out.</div>
                          </div>
                        </li>
                      </ul>
                    </div>
          
                    <!-- deprecated features -->
                    <div>
                      <h3 class="ct8-text-md ct8-margin-bottom-sm">Deprecated features</h3>
                  
                      <ul class="list list--icons">
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-error" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M12,15a1,1,0,0,1-1-1V6a1,1,0,0,1,2,0v8A1,1,0,0,1,12,15Z"/><circle cx="12" cy="18" r="1"/></svg>
                            
                            <div>Bad story-telling.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-error" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M12,15a1,1,0,0,1-1-1V6a1,1,0,0,1,2,0v8A1,1,0,0,1,12,15Z"/><circle cx="12" cy="18" r="1"/></svg>
                            
                            <div>Animations to certain quests.</div>
                          </div>
                        </li>
          
                        <li>
                          <div class="ct8-flex ct8-items-start">
                            <svg class="list__icon ct8-icon ct8-color-error" viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="12" opacity="0.2"/><path d="M12,15a1,1,0,0,1-1-1V6a1,1,0,0,1,2,0v8A1,1,0,0,1,12,15Z"/><circle cx="12" cy="18" r="1"/></svg>
                            
                            <div>Exact player saved location.</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </section>
    </main>
    
</main>

{% endblock content %}