{% extends 'main.html' %}
{% load static %}
{% block content %}
{% if needs_update %}
<div class="popup-overlay">
  <div class="popup-content">
    {% if next_class %}
    <p style="text-align-last: left; text-align: justify;">Nový školský rok 😁. S touto zmenou si je potrebné 
      aktualizovať pár vecí na stránke, ktoré zabezpečia jej správne
      fungovanie. Kliknutím na tlačidlo sa presunieš na stránku, kde uvidíš všetky potrebné položky, ktoré je nutné
      aktualizovať.</p>
    <a href="{% url 'needs-update' %}" class="btn btn--main" style="margin-top: 2rem; color: #000;">Skontrolovať</a>
    {% else %}
    <p style="text-align-last: left; text-align: justify;">Verím že fórum ti spríjemnilo štúdium no bohužiaľ tu tvoj
      príbeh na SPŠE končí a začína nový tam kde si vyberieš. O všetko čo bolo na fóre je postarané. Prajem veľa úspechov.</p>
      <a href="{% url 'delete-user' %}" class="btn--red btn" style="margin-top: 2rem;">Vymazať účet</a>
    {% endif %}
  </div>
</div>
{% endif %}

<div
  class="termsfeed-com---reset termsfeed-com---nb termsfeed-com---palette-light termsfeed-com---nb-simple termsfeed-com---lang-sk"
  id="termsfeed-com---nb" role="dialog" aria-modal="true" aria-labelledby="cc-nb-title" aria-describedby="cc-nb-text">
  <div class="cc-nb-main-container">
    <div class="cc-nb-title-container">
      <p class="cc-nb-title" id="cc-nb-title">Používame cookies</p>
    </div>
    <div class="cc-nb-text-container">
      <p class="cc-nb-text" id="cc-nb-text">
        Stránka využíva nevyhnutné cookies, ktoré zabezpečujú správne fungovanie
        webstránky a majú tiež za účel zvýšenie užívateľského komfortu návštevníka webstránky. Nevyhnutné cookies
        zabezpečujú, aby správne fungovalo nielen prezeranie webstránky, ale aby správne fungovali aj funkcionality,
        ktoré majú slúžiť návštevníkovi webstránky. Tieto cookies sa pri zatvorení okna stránky udržiavajú po dobu
        maximálne 6 hodín po úspešnom prihlásení a automaticky sa vymažú po odhlásení.
      </p>
    </div>
    <div class="cc-nb-buttons-container">
      <button class="cc-nb-okagree" role="button" onclick="consentGranted()">Rozumiem</button>
      <button class="cc-nb-okinfo" role="button"
        onclick="window.open('https:\\\\www.osobnyudaj.sk/informovanie/00161829/gdpr/sk/zakladne-informacie')">GDPR</button>
    </div>
  </div>
</div>

<main class="layout layout--3" {% if needs_update %} style="pointer-events: none;" {% endif %}>
  <div class="container">

    <!-- Topics Start -->
    {% include 'base/topics_component.html' %}

    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="main-container">
      <div class="roomList__header">
        <div>
          {% if room_count == 0 %}
          <p>NIČ TU NIE JE 😢</p>
          {% elif room_count == 1 %}
          <p>{{room_count}} aktívna diskusia</p>
          {% else %}
          <p>Aktívne diskusie: {{room_count}}</p>
          {% endif %}
        </div>

        <a class="btn btn--main" href="{% url 'create-room' %}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>add</title>
            <path
              d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z">
            </path>
          </svg>
          Nová Diskusia
        </a>
      </div>
      <div class="roomList">
        <div class="mobile-menu">
          <form action="{% url 'home' %}" method="GET" class="header__search">
            {% csrf_token %}
            <label>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>search</title>
                <path
                  d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
                </path>
              </svg>
              <input name="q" placeholder="Prehľadávať..." />
            </label>
          </form>
          {% if request.user.is_authenticated %}
          <div class="mobile-menuItems">
            <a class="btn btn--main btn--pill" href="{% url 'topics' %}">Vyhľadávať</a>
            <a class="btn btn--main btn--pill" href="{% url 'activity' %}">Aktivita</a>
          </div>
          {% else %}
          <div class="mobile-menuItems">
            <a class="btn btn--main btn--pill" href="{% url 'login' %}">Vyhľadávať</a>
            <a class="btn btn--main btn--pill" href="{% url 'login' %}">Aktivita</a>
          </div>
          {% endif %}
        </div>

        {% include 'base/feed_component.html' %}
        <div id="add-margin"></div>
      </div>
    </div>
    <!-- Room List End -->
    <span id="bottomRight">
      <button class="btn--mobile-scroll" onclick="scrollToTop()">↑</button>
      <!-- TODO: add link to your site -->
      <!-- <a class="btn--personal-site">© Tomáš Nosaľ</a> -->
      <a class="btn--personal-site">SPŠE Fórum v0.1</a>
    </span>
    <a class="btn btn--main btn--pill btn--new-class" href="{% url 'new-class' %}">+ Skupina</a>
    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}

    <!-- Activities End -->
  </div>
</main>


<script>
  function consentGranted() {
    document.querySelector('div.termsfeed-com---reset').style.display = "none";
  };

  var isUserAuthenticated = "{{request.user.is_authenticated}}" == 'True';

  if (isUserAuthenticated) {
    document.querySelector('div.termsfeed-com---reset').style.display = "none";
  }
  else {
    document.querySelector('div.termsfeed-com---reset').style.display = "block";
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector("body").style.overflowY = "hidden";
  })
</script>

<!-- <script type="module">
  import devtools from "{% static 'js/node_modules/devtools-detect/index.js' %}";

  // Get notified when it's opened/closed or orientation changes
  window.addEventListener('devtoolschange', event => {
    if (event.detail.isOpen) 
      window.location.href = "{% url 'fallback' %}";
  });
</script> -->

{% endblock %}