{% extends 'main.html' %}
{% load static %}
{% block content %}
{{ form.media }}
<h1 id="pc" style="font-size:3rem; display: none;">Táto stránka sa lepšie zobrazuje na PC 😁</h1>
<main class="delete-item layout">
    <style>
        .selector {
            float: none;
            display: flex;
            height: 330px;
        }

        .selector input[type="submit"] {
            display: block;
            clear: both;
        }

        .selector h2 {
            font-size: 15px;
        }

        textarea {
            display: block;
            width: 450px;
        }
    </style>
    <div class="container">
        <div class="layout__new_class">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    {% if back %}
                    <a href="{% url 'register' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    {% else %}
                    <a href="{% url 'home' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    {% endif %}
                    <h3>Späť</h3>
                </div>
            </div>
            <div class="layout__body">
                <form class="form" method="POST" action=""
                    style="display: block; align-items: center; justify-content: center;">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form__group form__group">
                        {% if field.label == 'Set class' %}
                        <label for="class_name">Nová Skupina</label>
                        {% elif field.label == "Users" %}
                        <label for="class_name">Koho chceš so sebou?</label>
                        {{field}}
                        {% else %}
                        <label for="class_name">{{field.label}}</label>
                        {{field}}
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input class="btn btn--main" type="submit" value="Vytoriť skupinu" />
                </form>
            </div>
        </div>
    </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    const classes = "{{classes}}".split(", ").map((item) => item.replace("&lt;", "").replace("&gt;", "").replace("FromClass: ", "").replace("(", "").replace(")", ""));
    $('#id_set_class').on('input', function (evt) {
        var value = evt.target.value;

        if (value.length === 0) {
            evt.target.className = '';
            return;
        }

        if (!classes.includes(value)) {
            evt.target.className = 'valid'
        } else {
            evt.target.className = 'invalid'
        }

        if (document.getElementById("id_set_class").className === 'invalid') {
            document.getElementById("id_set_class").style.border = "1px #e30022 solid";
            let node = document.createElement("p");
            node.innerHTML = "Skupina už existuje";
            document.getElementById("id_set_class").after(node);
        } else {
            document.getElementById("id_set_class").style.border = "1px lightgreen solid";
            document.getElementById("id_set_class").nextSibling?.remove();
        }
    });
</script>
<script>
    console.log(document.querySelector("body > main > div > div > div.layout__body > form > div:nth-child(5) > div > div.selector-available > h2"));
    setTimeout(() => {
        document.querySelector("body > main > div > div > div.layout__body > form > div:nth-child(5) > div > div.selector-available > h2").innerHTML = "Možný výber";
        document.querySelector("#id_users_selector_chosen > h2").innerHTML = "Vybratí";
    }, 700);
</script>
<script>
    setInterval(() => {
        if (window.innerWidth < 1000) {
            document.getElementById("pc").style.display = "block";
        } else {
            document.getElementById("pc").style.display = "none";
        }
    }, 500);
</script>
<script src="/admin/jsi18n"></script>
<!-- <script type="module">
    import devtools from "{% static 'js/node_modules/devtools-detect/index.js' %}";

    // Get notified when it's opened/closed or orientation changes
    window.addEventListener('devtoolschange', event => {
        if (event.detail.isOpen)
            window.location.href = "{% url 'fallback' %}";
    });
</script> -->
{% endblock content %}