{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          {% if user in active_users %}
          <div class="avatar avatar--large active">
            {% if user.avatar.url is not None %}
            <img src="{{user.avatar.url}}" alt="" />
            {% else %}
            <img src="{% static 'images/avatar.svg' %}" alt="" />
            {% endif %}
          </div>
          {% else %}
          <div class="avatar avatar--large">
            {% if user.avatar.url is not None %}
            <img src="{{user.avatar.url}}" alt="" />
            {% else %}
            <img src="{% static 'images/avatar.svg' %}" alt="" />
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Editovať</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>O mne</h3>
          {% if user.bio is None or user.bio == "" %}
          <p>
            -- Študent nezverejnil nič --
          </p>
          {% else %}
          <p>
            {{user.bio}}
          </p>
          {% endif %}
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Hosťované diskusie</a>
          </h2>
        </div>
      </div>
      {% include 'base/feed_component.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
<!-- No Devtools for you -->
<!-- <script type="module">
  import devtools from "{% static 'js/node_modules/devtools-detect/index.js' %}";

  // Get notified when it's opened/closed or orientation changes
  window.addEventListener('devtoolschange', event => {
    if (event.detail.isOpen) 
      window.location.href = "{% url 'fallback' %}";
  });
</script> -->
{% endblock content %}